[submodule "deps/zetaml"]
	path = deps/zetaml
	url = https://github.com/jabenuk/zetaml.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
